<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
   <div class="hero-banner">
        <h1 class="hero-title">Hogar Ya!</h1>
        <p class="hero-subtitle">Tu próximo alquiler te está esperando</p>
   </div>

   <div class="section-subtitle">
        <h2>Elija la opción</h2>
   </div>

   <div class="menu">
        <a th:href="@{/provinciasBuscar}" class="menu-btn">Provincias</a>
        <a th:href="@{/ciudadesBuscar}" class="menu-btn">Ciudades</a>
        <a th:href="@{/personasBuscar}" class="menu-btn">Personas</a>
        <a th:href="@{/facturasBuscar}" class="menu-btn">Facturas</a>
        <a th:href="@{/contratosBuscar}" class="menu-btn">Contrato</a>
        <a th:href="@{/propiedadBuscar}" class="menu-btn">Propiedades</a>
   </div>

</body>
</html>