<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <div class="banner">
        <h1 class="banner-titulo">Hogar Ya!</h1>
        <p class="banner-slogan">Tu próximo alquiler te está esperando</p>
    </div>

    <div class="starter-template">
        <h2>
            <span th:text="'Elija la opción'"></span>
        </h2>
    </div>


    <div class="menu">
        <a class="btn-provincias" th:href="@{/provinciasBuscar}">Provincias</a>
        <a class="btn-ciudades" th:href="@{/ciudadesBuscar}">Ciudades</a>
        <a class="btn-personas" th:href="@{/personasBuscar}">Personas</a>
        <a class="btn-contratos" th:href="@{/contratosBuscar}">Contrato</a>
        <a class="btn-propiedades" th:href="@{/propiedadBuscar}">Propiedades</a>
		<a class="btn-publicaciones" th:href="@{/publicacionesBuscar}">Publicaciones</a>

    </div>

</body>
</html>
